body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.header {
  border: 1px solid #999;
  height: 34px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
  position: absolute;
  top: 2px; 
}


.background {
  border: 1px solid #999;
  height: 200px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
  position: absolute;
  top: 36px; 
}

/* img { 
  display: flexbox;
} */

.messages {
  border: 1px solid #999;
  float: left; 
  height: 1000px; 
  margin-right: 0px;
  margin-top: 0px;
  width: 50%;
  position: absolute;
  top: 236px; 
}

.articles {
  border: 1px solid #999;
  
  height: 1000px; 
  margin-right: -22px;
  margin-top: 0px;
  width: 50%;
  position: absolute;
  right: 0; 
  top: 236px; 
}